
.hoverClass:hover{
    stroke: #7B61FF;
    stroke-width: 40px;
   
  }
  .App-header {
    background-color: #E5E5E5;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .toggle-button{
      padding: 5px;
  }